<footer>
  <div class="container text-center">
    <div class="mb-2">
      <a href="https://www.instagram.com/glampinglacuesta/" target="_blank" class="text-white me-3">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=61580049123217&mibextid=wwXIfr&rdid=ggf1nGkLY9ayPdLH&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1K2R1tUhLK%2F%3Fmibextid%3DwwXIfr#" target="_blank" class="text-white me-3">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://wa.me/5493544549053" target="_blank" class="text-white">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
    <p class="mb-1">© <span id="year"></span> La Cuesta Glamping - Todos los derechos reservados.</p>
  </div>
</footer>
<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>