<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-dark shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/views/index.html">
      <img src="/assets/img/logo_navbar.png" alt="La Cuesta Glamping" height="55">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/views/index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="/views/nosotros.html">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="/views/cabanas.html">Cabañas</a></li>
        <li class="nav-item"><a class="nav-link" href="/views/actividades.html">Actividades</a></li>
        <li class="nav-item"><a class="nav-link" href="/views/contacto.html">Contacto</a></li>
         <a href="/views/cabanas.html#servicios" class="btn btn-outline-light">Servicios</a>
        <a href="/views/cabanas.html#tarifas" class="btn btn-outline-light">Tarifas</a>
      </ul>  
      </div>
      </ul>
    </div>
  </div>
</nav>