/* Estilos específicos del hero de la página de inicio */
.hero-home {
    height: 50vh;
    color: var(--blanco);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/hero_home.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}